body{
    background-image: url(./v.jpg);
}
#login-Name{
    font-size: 40px;
        font-family: serif;
    border-bottom-style: ridge;
    margin-left:300px;
    margin-right:100px;
    color:crimson;
    
}
#login{
    background-color:black;
    margin-left:500px;
    margin-right:200px;
    margin-top: 200px;
    opacity: 0.60;
    padding: 40px 80px 40px 80px;
}
.btn{
    width: 45%;
     float: left;
    border-radius: 40px;
    height: 60px;
    size: 50px;
    font-size: 35px;
}